<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Bros</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <div id="app" v-cloak>
        <div v-if="!isSwitchOn" class="light-off"></div>
        <h1 tabindex="0">
            Bienvenido a Escape Bros!
        </h1>
        <!-- Time down -->
        <!-- <h4>
            Tiempo restante: {{ timeLeft }}
        </h4> -->
        <!-- Inventory -->
        <div class="inventory-list" tabindex="0">
            Inventario:
            <ul>
                <li v-for="item in inventoryItems" :key="item.id">
                    {{ item.name }}
                </li>
            </ul>
            <span v-if="inventoryItems.length === 0">Vacío</span>
        </div>
        <!-- Safe box -->
        <details class="actionable-item">
            <summary>
                <img v-if="!isSafeBoxOpen" src="images/safe-box-closed.png" alt="caja fuerte cerrada" height="200">
                <img v-else src="images/safe-box-opened.png" alt="caja fuerte abierta" height="120">
            </summary>
            <div v-if="!isSafeBoxOpen" class="actionable-buttons">
                <form @submit.prevent="trySafeBoxCombination">
                    <label>
                        Combinación:<br>
                        <input v-model="safeBoxCombination" type="number" style="width: 50px;"/>
                    </label>
                    <button>Probar</button>
                </form>
            </div>
        </details>
        <!-- Key -->
        <details v-if="isSafeBoxOpen && !isKeyInInventory" class="actionable-item">
            <summary>
                <img src="images/key.png" alt="llave" height="50">
            </summary>
            <div class="actionable-buttons">
                <button @click="keyLook" aria-label="Mirar llave">Mirar</button>
                <button @click="keyPick" aria-label="Coger llave">Coger</button>
            </div>
        </details>
        <!-- Door -->
        <details class="actionable-item">
            <summary>
                <img v-if="!isDoorOpen" src="images/door-closed.png" alt="puerta cerrada" height="400">
                <img v-else src="images/door-opened.png" alt="puerta abierta, pitbull te da la enhorabuena" height="400">
            </summary>
            <div v-if="!isDoorOpen" class="actionable-buttons">
                <button @click="doorLook" aria-label="Mirar puerta">Mirar</button>
                <button @click="doorOpen" aria-label="Abrir puerta">Abrir</button>
            </div>
        </details>
        <!-- TV -->
        <details class="actionable-item">
            <summary>
                <div class="television" aria-label="television">
                    <!-- <iframe tabindex="-1" class="tv-screen" width="200" height="160" src="https://www.youtube.com/embed/2yJBnxt94C0?si=4Tq_LqLbVAh4o3HL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                    <div id="player" tabindex="-1" class="tv-screen"></div>
                </div>
            </summary>
            <div class="actionable-buttons">
                <button @click="seeTv">Mirar</button>
                <button @click="playTv">Reproducir</button>
                <button @click="pauseTv">Pausar</button>
                <button @click="maximizeTv" tabindex="-1">Maximizar</button>
            </div>
        </details>
        <!-- Notifications -->
        <div class="notification-center">
            <div>Notificaciones:</div>
            <span aria-live="polite">
                {{ notification }}
            </span>
        </div>
        <!-- Switch -->
        <button class="switch" @click="toggleSwitch" :class="{reverse: !isSwitchOn}">
            <img src="images/switch.png" alt="interruptor luz" height="50" >
        </button>
    </div>

    <script src="https://unpkg.com/vue@3.3.7/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>