[v-cloak] {
    display: none;
  }

.invisible {
    visibility: hidden
}

.light-off {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 100px;
    z-index: 2;
    opacity: 1;
}

.switch.reverse {
    transform: rotate(180deg);
    opacity: 0;
}

.notification-center {
    border: 1px solid black;
    position: absolute;
    min-width: 400px;
    min-height: 100px;
    bottom: 0;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    padding: 10px;
}

.inventory-list {
    position: absolute;
    right: 0;
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 10px;
}

.actionable-item {
    cursor: pointer;
    display: inline-block;
    /* text-align: center; */
    margin: 0 5px;
    padding: 5px 10px;
}

.actionable-item:hover {
    outline: 1px solid #ccc;
}

.actionable-item summary {
    cursor: pointer;
}

.actionable-item summary::marker {
    content: "";
}

.actionable-buttons {
    position: absolute;
    padding: 5px 10px;
    border: 1px solid black;
    margin-top: 6px;
    margin-left: -10px;
}

.television {
    display: inline-block;
    background-image: url("/images/television.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 310px;
    width: 300px;
    position: relative;
    transform: rotate(180deg);
}

.tv-screen {
    position: absolute;
    top: 100px;
    left: 32px;
    pointer-events: none;
}

.tv-screen.maximized {
    pointer-events: all;
}